/* Notes on how I optimized images *
    - I chose optimal image types
    - I scaled them down when including them in HTML (so that they weren't larger than necessary)
    - I used lazy loading when inputting them in HTML
    - All images have alt text and are contrasting/easy to view
*/


/* Using a custom font! */
@font-face {
    font-family: 'MyFont';
    src: url('https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45_rhELOc9eF4.woff2') format('woff2'),
         url('https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45_rhELOc9eF4.woff') format('woff');
    font-weight: light;
    font-style: normal;
}



/* animation */ 
@keyframes slideHeader {
    0% { transform: translateX(-100%);}
    100% { transform: translateX(0);}
  }


:root {
    --main-pink-color:#f85a7f;
    --darker-pink-color: #f63461;
    --light-pink-color: #fcb9c9;
    --lightest-pink-color:#f7f2f4;
}

body {
    font-family: 'MyFont', "PT Sans", sans-serif;
    /* PT Sans is a backup if the custom font does not load */
    background-color: white;
    padding: 5px;
}

header {
    background-color: var(--light-pink-color);
    padding: 5px;
}
  
h1 {
    position: relative;
    animation: slideHeader 3s ease-in-out forwards;
    color: var(--main-pink-color);
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 3rem;

}

h2 {
    color: var(--main-pink-color);
    font-size: 2rem;
}

h3 {
    color: var(--main-pink-color);
    font-size: 1.5rem;
}

nav {

    background-color: var(--main-pink-color);  
    color: white;
    display: flex; 
    justify-content: space-around;  
    align-items: center;
    height: 50px;  
}
  
nav ul {
    list-style: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}
  
nav ul li {
    margin: 0 15px; 
}
  
nav ul li a {
    color: white;  
    text-decoration: none;
    font-size: 16px; 
    padding: 1dvw 2dvh; 
    display: block; 
}
  
nav ul li a:hover {
    background-color: var(--darker-pink-color);  
}

.active {
    background-color: var(--darker-pink-color);  
}

.bio {
    display: flex;
    gap: 20px; 
    align-items: center; /
}

.bio_pic {
    width: 345px; 
    height: 460px; 
    object-fit: cover;
}

.bio_pic:hover {
    transform: scale(120%); 
}

.contact_pic:hover {
    transform: scale(120%); 
}

img {
    border: 5px solid var(--main-pink-color);
}

.contact {
    display: flex;             
    flex-direction: column;     
    justify-content: center;    
    align-items: center;       
    min-height: 100dvh;         
    text-align: center;        
}

.projects {
    display: grid;                 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;                     
    padding: 20px;   
    width: 90dvw;  
    margin: 0;    
    justify-items: center;           
}

.projects > div {
    background-color: var(--lightest-pink-color);
    padding: 20px;
    border-radius: 8px;
}

.organizations {
    display: grid;                 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;                     
    padding: 20px;   
    width: 90dvw;  
    min-height: 100dvh; 
    margin: 0;    
    justify-items: center;          
}

.organizations > div {
    background-color: var(--lightest-pink-color);
    padding: 20px;
    border-radius: 8px;
}


.education {
    display: grid;                 
    grid-template-rows: auto auto;
    gap: 20px;                     
    padding: 20px;   
    width: 90dvw;  
    margin: 0;    
    justify-items: center; 
}

.education > div {
    background-color: var(--lightest-pink-color);
    padding: 20px;
    width: 90dvw;
    border-radius: 8px;
}

.interests {
    display: grid;                 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;                     
    padding: 20px;   
    width: 90dvw;  
    margin: 0;    
    justify-items: center; 
    align-items: center;
}

.interests > div {
    background-color: var(--lightest-pink-color);
    padding: 20px;
    border-radius: 8px;
}


picture {
    max-width: 100%;
}

.interestsStatement {
    background-color: white;
    transition: background-color 2s ease;
}

.interestsStatement:hover {
    background-color: var(--lightest-pink-color);
}

strong {
    color: color(display-p3 1 0 0);
}

.bragging {
    color: color-mix(display-p3 75% red 25% blue);
}
